services:
  app:
    image: haydar26/node-express-app:latest
    container_name: nodeapp
    ports:
      - "8080:8080"
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    environment:
      - WATCHTOWER_POLL_INTERVAL=60   # check every 60 seconds
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --label-enable
    restart: always
